<h1>Your upcoming rides (<%= Booking.count %>)</h1>

<div class="container-2">
  <% @bookings.each do |booking| %>
  <div class="card-trip">
    <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/Left_side_of_Flying_Pigeon.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Booking #<%= link_to booking.id, user_booking_path(current_user, booking) %></h2>
        <p><%= booking.vehicle.category %> | <%= booking.vehicle.model %></p>
        <p><strong>FROM </strong><%= booking.start_date %> <strong>TO</strong> <%= booking.end_date %></p>
        <p><strong>Pick-up address:</strong> <%= booking.vehicle.address %></p>
      </div>
      <img src="https://organicthemes.com/demo/profile/files/2018/05/profile-pic.jpg" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <% end %>
</div>
