<h1></h1>
<h2 class="">My vehicles</h2>
<div class="vehicle-container">
    <% @vehicles.each do |vehicle| %>
    <% if vehicle.model === "Émonda SL 7" %>
        <div class="vehicle-card vehicle-card--promo">
    <% else %>
        <div class="vehicle-card">
    <% end %>
    <div class="vehicle-card__info-container">
        <div class="vehicle-card__title">
        <h3>Vehicle</h3>
        </div>
        <div class="vehicle-card__image-container">
        <p class="vehicle-card__image">image</p>
        </div>
        <div class="vehicle-card__info">
            <p class="vehicle-card__model"><%= vehicle.model %></p>
            <p class="vehicle-card__description">vehicle.description</p>
            <p class="vehicle-card__price">price</p>
            <p>----------------------</p>
        </div>    
        </div>
    </div>
    <% end %>
</div>
<%= link_to "add a new vehicle",  new_vehicle_path %>
<p>//////////////////////////////////////</p>
<h2>Manage my ads</h2>
<% @bookings.each do |booking| %>
  <p><%= booking.vehicle.model %></p>
  <p><%= booking.vehicle.category %></p>
  <p>--------------------------------</p>
<% end %>

<h2>Bookings for my vehicles</h2>
<% if @user.vehicle_bookings.empty?%>
  <h5>doesnt look like anyones booked ur vehhicles yet</h5>
<% else %>
  <% @user.vehicle_bookings.each do |f| %>
    <p><%= f %></p>
  <% end %>
<% end %>
