<h1></h1>
<h2>My vehicles</h2>
<% @vehicles.each do |vehicle| %>
  <p><%= vehicle.model %></p>
  <p>image</p>
  <p>description</p>
  <p>price</p>
  <p>----------------------</p>
<% end %>

<%= link_to "add a new vehicle",  new_vehicle_path %>
<p>//////////////////////////////////////</p>
<h2>Manage my ads</h2>
<% @bookings.each do |booking| %>
  <p><%= booking.vehicle.model %></p>
  <p><%= booking.vehicle.category %></p>
  <p>--------------------------------</p>
<% end %>

<h2>Bookings for my vehicles</h2>
<% if @user.vehicle_bookings.empty?%>
  <h5>doesnt look like anyones booked ur vehhicles yet</h5>
<% else %>
  <% @user.vehicle_bookings.each do |f| %>
    <p><%= f %></p>
  <% end %>
<% end %>
