<%= render "banner" %>

<%= render "footer" %>

<<<<<<< HEAD
=======
<%= render "banner" %>

<!--<%= render "searchform" %>-->

<!--<%= render "footer" %>-->

<!--<%= link_to 'Find a vehicle!', 'vehicles', class: "btn btn-primary" %>-->

>>>>>>> f0ce610778b0f9a8c058b8b14fbfa822e9afba97
<!--<p>Find me in app/views/pages/home.html.erb</p>-->

<!--<% if user_signed_in? %>
  <%= current_user.email %>
<% end %>-->
