<h1>All vehicles (<%= Vehicle.count %>)</h1>

<div class="container-2">
  <% @vehicles.each do |vehicle| %>
    <div class="card-trip">
    <img src="https://www.techonline.com/img/tmp/no-image-icon.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2><%= vehicle.category %> | <%= vehicle.model %></h2>
        <p><%= link_to 'See more', vehicle_path(vehicle) %></p>
      </div>
      <h2 class="card-trip-pricing">£<%= vehicle.price %></h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
 <% end %>
</div>

  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>



<%= link_to"Back to home page", root_path, class: "btn btn-primary" %>
