<div class="container-create">

        <h1>List a new vehicle</h1>
        <%= simple_form_for @vehicle do |f| %>
        <%= f.input :category %>
        <%= f.input :model %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :address %>
        <%= f.button :submit, class: 'btn btn-primary' %>
        <%= link_to "Return to homepage", root_path, class: 'btn btn-primary' %>
      <% end %>

</div>
