<h1>Create a new Vehicle</h1>
<%= simple_form_for @vehicle do |f| %>
  <%= f.input :model %>
  <%= f.input :category %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :address %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>

<%= link_to "Go back", user_path(current_user) %>
